.b-ocp {
    background-color: $gray-05;

    .b-ocp-wrap {
        @include wrap;

        @include breakpoint($tablet) {
            padding: 40px 0;
            text-align: center;
        }

        .e-circle {
            @include circle;

            display: inline-block;
            width: 310px;
            height: 310px;
            margin: 60px 0;
            padding-top: 40px;
            vertical-align: middle;
            background-color: #EBEAEB;
            text-align: center;
            color: $gray-60;
            box-shadow: 0 0 0 10px $gray-10, 0 0 15px 0 $gray-15;

            @include breakpoint($tablet) {
                display: block;
                margin: auto;
                text-align: center;

            }

            @include breakpoint($mobile-only) {
                
                margin-bottom: 40px;
            }

            div {
                font-size: 110px;
                line-height: 1;
            }

            div + div {
                font-size: 40px;
                line-height: 1;
                text-transform: uppercase;
            }

            p {
                width: 155px;
                margin: 0 auto;
                font-size: 18px;
                font-weight: 300;
            }
        }

        .e-message {
            display: inline-block;
            width: 545px;
            
            vertical-align: middle;

            @include breakpoint($desktop) { margin-left: 80px; }

            @include breakpoint($mobile-only) {
                display: block;
                width: auto;
                margin: 0 10px;
            }

            p {
                font-size: 22px;
                color: $gray-50;

                strong {
                    color: $gray-60;
                }
            }

            .e-view-more {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                color: $gray-50;
                padding: 7px 10px 10px;
                margin-left: -10px;
                @include transition;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                i {
                    font-size: 21px;
                    margin-left: 10px;
                    vertical-align: middle;
                    color: $gray-50;
                }

                &:hover {
                    background-color: $gray-10;
                    @include transition;
                }
            }


        }
    }
}

.b-news {
    .b-news-wrap {
        padding: 60px 0;
        @include wrap;

        @include breakpoint($mobile-only) { padding-bottom: 0; }

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid $gray-05;
            margin: -60px auto 0;
            left: 0;
            right: 0;
            position: absolute;
        }

        h2 {
            margin: 0;
            padding-bottom: 30px;
            font-size: 40px;
            font-weight: 300;
            text-align: center;
            text-transform: uppercase;
            color: $gray-50;
        }

        .b-column {
            position: relative;
            display: inline-block;
            width: 345px;
            min-height: 400px;
            vertical-align: top;

            @include breakpoint($mobile-only) {
                display: block;
                width: auto;
                margin: 0 10px;
                text-align: center;
            }

            & + .b-column {
                width: 245px;
                margin-left: 45px;

                @include breakpoint($mobile-only) {
                    width: auto;
                    margin-left: 10px;
                }
            }

            h3 {
                margin: 0;
                font-size: 22px;
                font-weight: 300;
                text-transform: uppercase;
                color: $gray-50;

                @include breakpoint($mobile-only) { margin-top: 40px; }

                .fa {
                    margin-left: 10px;
                    color: $green;
                }
            }

            .e-image-item {
                display: inline-block;
                width: 100%;
                height: 275px;
                background-color: $gray-10;
            }

            .e-image-title {
                margin: 0;
                font-size: 21px;
                font-weight: 500;
                color: $gray-50;
            }

            .e-image-description {
                color: $gray-50;

                @include breakpoint($mobile-only) { margin-bottom: 20px; }
            }

            .e-view-more {
                position: absolute;
                left: 0;
                bottom: 0px;
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                color: $gray-50;
                padding: 7px 10px 10px;
                margin-left: -10px;
                @include transition;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                i {
                    font-size: 21px;
                    vertical-align: middle;
                    color: $gray-50;
                    margin-left: 10px;
                }

                &:hover {
                    background-color: $gray-10;
                    @include transition;
                }

                @include breakpoint($mobile-only) { position: static; }
            }

            .e-blog-item {
                display: inline-block;
                padding: 15px 0;
                color: $gray-50;

                h5 {
                    margin: 0;
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }

                div {
                    color: $gray-50;
                }

                & + .e-blog-item {
                    border-top: 1px solid $gray-10;
                }
            }
        }
    }
}



.b-started {
    background-color: $gray-05;

    .b-started-wrap {
        padding: 60px 0;
        text-align: center;
        @include wrap;

        &::before {
            content: "";
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 20px solid white;
            margin: -60px auto 0;
            left: 0;
            right: 0;
            position: absolute;
        }

        h2 {
            margin: 0;
            font-size: 45px;
            font-weight: 300;
            text-transform: uppercase;
            color: $gray-50;

            @include breakpoint($mobile-only) { font-size: 40px; }
        }

        h3 {
            margin: 0;
            padding: 10px 0 30px;
            font-size: 22px;
            text-transform: uppercase;
            letter-spacing: 0.3px;
            color: $gray-50;
        }

        .b-left {
            display: inline-block;
            width: 190px;
            height: 190px;
            vertical-align: middle;

            @include breakpoint($mobile-only) {
                width: auto;
                display: block;
            }

            .material-icons {
                font-size: 190px;
                color: $gray-50;
            }
        }

        .b-right {
            display: inline-block;
            width: 590px;
            margin-left: 100px;
            text-align: left;
            vertical-align: middle;

            @include breakpoint($mobile-only) {
                width: auto;
                display: block;
                margin: 0 10px;
                text-align: center;
            }

            p {
                font-size: 22px;
                color: $gray-50;

                strong {
                    color: $gray-60;
                }
            }

            .e-view-more {
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                color: $gray-50;

                span {
                    display: inline-block;
                    vertical-align: middle;
                }

                i {
                    font-size: 21px;
                    vertical-align: middle;
                    color: $gray-50;
                    margin-left: 10px;
                }
            }
        }
    }
}

.b-subscribe {
    text-align: center;
    background-color: $green;

    form {
        display: inline-block;
        width: 740px;
        padding: 15px 0;

        @include breakpoint($mobile-only) {
            width: auto;
            display: block;
        }

        .e-textfield {
            width: 640px;
            height: 35px;
            padding: 18px 20px 12px;
            border: 0;
            text-align: left;
            background-color: #E2E766;
            font-size: 18px;
            color: $gray-50 !important;
            
            &::-webkit-input-placeholder { 
               color: $gray-50;
            }

            &:-moz-placeholder { /* Firefox 18- */
               color: $gray-50;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
               color: $gray-50;  
            }

            &:-ms-input-placeholder {  
               color: $gray-50;  
            }

            @include breakpoint($mobile-only) {
                width: calc(100% - 36px);
                margin-bottom: 5px;
            }

            &:focus {
                background-color: $gray-10;
            }
        }
         
        .e-submit {
            width: 99px;
            padding: 9px 20px 10px;
            margin-left: -3px;
            background-color: $gray-10;
            border: 0;
            vertical-align: top;
            font-size: 16px;
            line-height: 1;
            color: $gray-60;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: $gray-20;
                
            }

            @include breakpoint($mobile-only) { 
                width: calc(100% - 36px);
                margin: 0;
            }
        }
    }
}
