{% extends "base.html" %}

{% block content %}
    <div class="b-ocp">
        <div class="b-ocp-wrap">
            <div class="e-circle">
                <div>9.5</div>
                <div>Trillion</div>
                <p>dollars are spent on public contracts globally</p>
            </div>

            <div class="e-message">
                <p>The <strong>Open Contracting Partnership</strong> joins up
                governments, civil society and business to disclosure, monitor
                public contracts and craft better deals, build trust with
                citizen awareness and promote a better, fairer business
                enviroment.</p>

                <a class="e-view-more" href=""><span>What we do</span> <i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>

    <div class="b-news">
        <div class="b-news-wrap">
            <h2>News</h2>

            <div class="b-column">
                <img class="e-image-item" src="" alt="">
                <h4 class="e-image-title">Our Strategy 2015-2018</h4>
                <div class="e-image-description">Disclosure, Data, Participation, Innovation</div>

                <a class="e-view-more" href=""><span>View page</span> <i class="material-icons">arrow_forward</i></a>
            </div>

            <div class="b-column">
                <h3>Blog <i class="fa fa-rss"></i></h3>

                <!-- {# subpage "blog" with "latest_blogs" #} -->

                <div class="e-blog-item">
                    <h5>23 June 2015</h5>
                    <h4>How to use Open Contracting Data Standards</h4>
                    <a href="#" class="e-author">Claudio Mendonça</a>

                </div>

                <div class="e-blog-item">
                    <h5>23 June 2015</h5>
                    <h4>How to use Open Contracting Data Standards</h4>
                    <a href="#" class="e-author">Claudio Mendonça</a>
                </div>

                <div class="e-blog-item">
                    <h5>23 June 2015</h5>
                    <h4>How to use Open Contracting Data Standards</h4>
                    <a href="#" class="e-author">Claudio Mendonça</a>
                </div>

                <a class="e-view-more" href=""><span>Show all</span> <i class="material-icons">arrow_forward</i></a>
            </div>

            <div class="b-column">
                <h3>Updates <i class="fa fa-twitter"></i></h3>

                <div class="b-twitter">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/opencontracting" data-widget-id="639598882360586241" data-chrome="noheader nofooter noborders noscrollbar" data-tweet-limit="2"></a>
                </div>

                <a class="e-view-more" href=""><span>View page</span> <i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>

    <div class="b-started">
        <div class="b-started-wrap">
            <h2>Getting Started</h2>
            <h3>Easy steps to implement the open contracting data standards</h3>

            <div class="b-left">
                <i class="material-icons">code</i>
            </div>

            <div class="b-right">
                <p>The <strong>Open Contracting Data Standard</strong> is at
                the core of the Open Contracting Partnership. It is a
                user-friendly and flexible tool that ashas all relevant
                information about government contracts</p>

                <a class="e-view-more" href=""><span>View page</span> <i class="material-icons">arrow_forward</i></a>
            </div>
        </div>
    </div>

    <div class="b-subscribe">
        <form>
            <input class="e-textfield" type="text" placeholder="SUBSCRIBE TO OUR NEWLETTER"/>
            <input class="e-submit" type="submit">
        </form>
    </div>
{% endblock %}
