* {
  box-sizing: border-box; }

input {
  -webkit-appearance: none;
  border-radius: 0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px; }
  @media (max-width: 800px) {
    ::-webkit-input-placeholder {
      text-align: center; } }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px; }
  @media (max-width: 800px) {
    :-moz-placeholder {
      text-align: center; } }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px; }
  @media (max-width: 800px) {
    ::-moz-placeholder {
      text-align: center; } }

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px; }
  @media (max-width: 800px) {
    :-ms-input-placeholder {
      text-align: center; } }

@font-face {
  font-family: Aileron;
  src: url(../font/aileron/Aileron-Regular.otf);
  font-weight: normal; }
@font-face {
  font-family: Aileron;
  src: url(../font/aileron/Aileron-Thin.otf);
  font-weight: 300; }
@font-face {
  font-family: Aileron;
  src: url(../font/aileron/Aileron-SemiBold.otf);
  font-weight: 500; }
@font-face {
  font-family: Aileron;
  src: url(../font/aileron/Aileron-Bold.otf);
  font-weight: bold; }
body {
  padding: 0;
  margin: 0;
  font-family: 'Aileron', sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased; }

input {
  font-family: 'Aileron', sans-serif;
  line-height: 1; }

a {
  text-decoration: none;
  color: #333; }

.b-content {
  min-height: calc(100vh - 250px); }

.b-header .b-header-wrap {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-align-items: center;
  padding: 15px 0;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 800px) {
    .b-header .b-header-wrap {
      -flex-justify-content: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .b-header .b-header-wrap .b-logo {
    -webkit-box-flex: 5;
    -webkit-flex-grow: 5;
        -ms-flex-positive: 5;
            flex-grow: 5;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-flex: 5 1 410px;
    margin: 3px 0 -2px; }
    .b-header .b-header-wrap .b-logo .e-logo-img {
      width: 100%;
      max-width: 410px; }
      @media (max-width: 1024px) {
        .b-header .b-header-wrap .b-logo .e-logo-img {
          margin: 0 auto; } }
      @media (max-width: 800px) {
        .b-header .b-header-wrap .b-logo .e-logo-img {
          max-width: 310px; } }
  .b-header .b-header-wrap .b-link {
    max-width: 190px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    -webkit-flex: 1 1 115px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    -webkit-transition: all .4s ease;
            transition: all .4s ease; }
    @media (max-width: 1024px) {
      .b-header .b-header-wrap .b-link {
        display: none; } }
    .b-header .b-header-wrap .b-link div {
      text-transform: uppercase;
      font-weight: 500; }
    .b-header .b-header-wrap .b-link:hover {
      background-color: rgba(0, 0, 0, 0.1);
      -webkit-transition: all .4s ease;
              transition: all .4s ease; }
.b-header .e-menu {
  position: absolute;
  display: none;
  top: 20px;
  right: 15px; }
  @media (max-width: 1024px) {
    .b-header .e-menu {
      display: inline-block; } }
.b-header .b-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 85%;
  right: -100%;
  margin-right: 15%;
  text-align: center;
  background-color: #D4DD22;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all .4s ease;
          transition: all .4s ease; }
  .b-header .b-menu.m-active {
    right: -15%; }
  .b-header .b-menu a {
    display: block;
    padding: 20px 10px; }
  @media (max-width: 800px) {
    .b-header .b-menu {
      display: block; } }

.b-nav {
  background-color: #D4DD22;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1); }
  .b-nav .b-nav-wrap {
    padding: 0;
    margin: 0;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 1024px) {
      .b-nav .b-nav-wrap {
        text-align: center; } }
    .b-nav .b-nav-wrap ul, .b-nav .b-nav-wrap li {
      list-style-type: none;
      margin: 0;
      padding: 0; }
    .b-nav .b-nav-wrap .e-nav-item {
      display: inline-block;
      color: rgba(0, 0, 0, 0.7);
      line-height: 1;
      font-size: 16px;
      font-weight: 400;
      position: relative;
      -webkit-transition: all .4s ease;
              transition: all .4s ease; }
      @media (max-width: 1024px) {
        .b-nav .b-nav-wrap .e-nav-item {
          display: none; } }
      .b-nav .b-nav-wrap .e-nav-item + .e-nav-item {
        margin-left: -4px; }
    .b-nav .b-nav-wrap .e-nav-item > a {
      text-transform: uppercase;
      padding: 25px 20px 20px;
      display: inline-block; }
      .b-nav .b-nav-wrap .e-nav-item > a:hover {
        background-color: rgba(0, 0, 0, 0.1); }
    .b-nav .b-nav-wrap .e-nav-item:hover .e-submenu {
      display: block; }
    .b-nav .b-nav-wrap .e-submenu {
      display: none;
      position: absolute;
      left: 0;
      min-width: 100%;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
    .b-nav .b-nav-wrap .e-submenu-item:first-child a {
      padding-top: 20px; }
    .b-nav .b-nav-wrap .e-submenu-item:last-child a {
      padding-bottom: 20px; }
    .b-nav .b-nav-wrap .e-submenu-item a {
      color: white;
      padding: 15px 20px;
      display: block;
      width: 100%;
      white-space: nowrap;
      background-color: rgba(0, 0, 0, 0.5); }
      .b-nav .b-nav-wrap .e-submenu-item a:hover {
        background-color: rgba(0, 0, 0, 0.7); }
    .b-nav .b-nav-wrap .e-hidden-nav-item {
      display: none;
      padding: 20px 0;
      color: rgba(0, 0, 0, 0.7);
      text-transform: uppercase;
      line-height: 1;
      font-size: 15px; }
      @media (max-width: 1024px) {
        .b-nav .b-nav-wrap .e-hidden-nav-item {
          display: inline-block; } }
      .b-nav .b-nav-wrap .e-hidden-nav-item + .e-hidden-nav-item {
        margin-left: 20px; }
      .b-nav .b-nav-wrap .e-hidden-nav-item i,
      .b-nav .b-nav-wrap .e-hidden-nav-item span {
        vertical-align: middle; }
    .b-nav .b-nav-wrap .e-social-media {
      float: right;
      margin-top: 20px; }
      @media (max-width: 1024px) {
        .b-nav .b-nav-wrap .e-social-media {
          display: none; } }
      .b-nav .b-nav-wrap .e-social-media .e-social-item {
        overflow: hidden;
        border-radius: 50%;
        -webkit-transition: all .4s ease;
                transition: all .4s ease;
        display: inline-block;
        width: 25px;
        height: 25px;
        margin: 0 5px;
        background-color: white;
        text-align: center;
        line-height: 24px;
        font-weight: 500; }
        .b-nav .b-nav-wrap .e-social-media .e-social-item .fa {
          color: #D4DD22;
          line-height: 25px;
          font-size: 14px; }
      .b-nav .b-nav-wrap .e-social-media .e-social-item:hover {
        -webkit-transition: all .4s ease;
                transition: all .4s ease;
        -webkit-transform: scale(1.3);
            -ms-transform: scale(1.3);
                transform: scale(1.3); }

.b-footer {
  background-color: rgba(0, 0, 0, 0.7); }
  .b-footer .b-footer-wrap {
    padding: 30px 0 50px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    .b-footer .b-footer-wrap .m-align-center {
      text-align: center; }
    .b-footer .b-footer-wrap .e-logo {
      width: 100px;
      margin-bottom: 20px; }
    .b-footer .b-footer-wrap .b-column {
      display: inline-block;
      width: 230px;
      vertical-align: top; }
      @media (max-width: 800px) {
        .b-footer .b-footer-wrap .b-column {
          display: block;
          width: auto;
          margin: 0 10px;
          text-align: center; } }
      .b-footer .b-footer-wrap .b-column h2 {
        font-size: 16px;
        color: white; }
      .b-footer .b-footer-wrap .b-column .e-item {
        line-height: 1.6;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.9); }
        .b-footer .b-footer-wrap .b-column .e-item a {
          color: rgba(255, 255, 255, 0.9); }
        .b-footer .b-footer-wrap .b-column .e-item a:hover {
          color: white;
          text-decoration: underline; }
        .b-footer .b-footer-wrap .b-column .e-item.m-disabled {
          pointer-events: none;
          opacity: .4; }

.b-copyright {
  background-color: rgba(0, 0, 0, 0.9); }
  .b-copyright .b-copyright-wrap {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.5);
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    .b-copyright .b-copyright-wrap p {
      display: inline-block;
      padding: 15px 0px;
      margin: 0; }
      @media (max-width: 800px) {
        .b-copyright .b-copyright-wrap p {
          display: block;
          margin: 0 10px;
          text-align: center; } }
    .b-copyright .b-copyright-wrap div {
      float: right;
      padding: 15px 0px; }
      @media (max-width: 800px) {
        .b-copyright .b-copyright-wrap div {
          float: none;
          margin: 0 10px;
          padding: 0 0 15px;
          text-align: center; } }
      .b-copyright .b-copyright-wrap div a {
        color: rgba(255, 255, 255, 0.5); }
      .b-copyright .b-copyright-wrap div a:hover {
        color: white; }

.b-ocp {
  background-color: rgba(0, 0, 0, 0.05); }
  .b-ocp .b-ocp-wrap {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    @media (max-width: 1024px) {
      .b-ocp .b-ocp-wrap {
        padding: 40px 0;
        text-align: center; } }
    .b-ocp .b-ocp-wrap .e-circle {
      overflow: hidden;
      border-radius: 50%;
      display: inline-block;
      width: 310px;
      height: 310px;
      margin: 60px 0;
      padding-top: 40px;
      vertical-align: middle;
      background-color: #EBEAEB;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1), 0 0 15px 0 rgba(0, 0, 0, 0.15); }
      @media (max-width: 1024px) {
        .b-ocp .b-ocp-wrap .e-circle {
          display: block;
          margin: auto;
          text-align: center; } }
      @media (max-width: 800px) {
        .b-ocp .b-ocp-wrap .e-circle {
          margin-bottom: 40px; } }
      .b-ocp .b-ocp-wrap .e-circle div {
        font-size: 110px;
        line-height: 1; }
      .b-ocp .b-ocp-wrap .e-circle div + div {
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase; }
      .b-ocp .b-ocp-wrap .e-circle p {
        width: 155px;
        margin: 0 auto;
        font-size: 18px;
        font-weight: 300; }
    .b-ocp .b-ocp-wrap .e-message {
      display: inline-block;
      width: 545px;
      vertical-align: middle; }
      @media (min-width: 1025px) {
        .b-ocp .b-ocp-wrap .e-message {
          margin-left: 80px; } }
      @media (max-width: 800px) {
        .b-ocp .b-ocp-wrap .e-message {
          display: block;
          width: auto;
          margin: 0 10px; } }
      .b-ocp .b-ocp-wrap .e-message p {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.5); }
        .b-ocp .b-ocp-wrap .e-message p strong {
          color: rgba(0, 0, 0, 0.6); }
      .b-ocp .b-ocp-wrap .e-message .e-view-more {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5);
        padding: 7px 10px 10px;
        margin-left: -10px;
        -webkit-transition: all .4s ease;
                transition: all .4s ease; }
        .b-ocp .b-ocp-wrap .e-message .e-view-more span {
          display: inline-block;
          vertical-align: middle; }
        .b-ocp .b-ocp-wrap .e-message .e-view-more i {
          font-size: 21px;
          margin-left: 10px;
          vertical-align: middle;
          color: rgba(0, 0, 0, 0.5); }
        .b-ocp .b-ocp-wrap .e-message .e-view-more:hover {
          background-color: rgba(0, 0, 0, 0.1);
          -webkit-transition: all .4s ease;
                  transition: all .4s ease; }

.b-news .b-news-wrap {
  padding: 60px 0;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px; }
  @media (max-width: 800px) {
    .b-news .b-news-wrap {
      padding-bottom: 0; } }
  .b-news .b-news-wrap::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgba(0, 0, 0, 0.05);
    margin: -60px auto 0;
    left: 0;
    right: 0;
    position: absolute; }
  .b-news .b-news-wrap h2 {
    margin: 0;
    padding-bottom: 30px;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5); }
  .b-news .b-news-wrap .b-column {
    position: relative;
    display: inline-block;
    width: 345px;
    min-height: 400px;
    vertical-align: top; }
    @media (max-width: 800px) {
      .b-news .b-news-wrap .b-column {
        display: block;
        width: auto;
        margin: 0 10px;
        text-align: center; } }
    .b-news .b-news-wrap .b-column + .b-column {
      width: 245px;
      margin-left: 45px; }
      @media (max-width: 800px) {
        .b-news .b-news-wrap .b-column + .b-column {
          width: auto;
          margin-left: 10px; } }
    .b-news .b-news-wrap .b-column h3 {
      margin: 0;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 800px) {
        .b-news .b-news-wrap .b-column h3 {
          margin-top: 40px; } }
      .b-news .b-news-wrap .b-column h3 .fa {
        margin-left: 10px;
        color: #D4DD22; }
    .b-news .b-news-wrap .b-column .e-image-item {
      display: inline-block;
      width: 100%;
      height: 275px;
      background-color: rgba(0, 0, 0, 0.1); }
    .b-news .b-news-wrap .b-column .e-image-title {
      margin: 0;
      font-size: 21px;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.5); }
    .b-news .b-news-wrap .b-column .e-image-description {
      color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 800px) {
        .b-news .b-news-wrap .b-column .e-image-description {
          margin-bottom: 20px; } }
    .b-news .b-news-wrap .b-column .e-view-more {
      position: absolute;
      left: 0;
      bottom: 0px;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      padding: 7px 10px 10px;
      margin-left: -10px;
      -webkit-transition: all .4s ease;
              transition: all .4s ease; }
      .b-news .b-news-wrap .b-column .e-view-more span {
        display: inline-block;
        vertical-align: middle; }
      .b-news .b-news-wrap .b-column .e-view-more i {
        font-size: 21px;
        vertical-align: middle;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 10px; }
      .b-news .b-news-wrap .b-column .e-view-more:hover {
        background-color: rgba(0, 0, 0, 0.1);
        -webkit-transition: all .4s ease;
                transition: all .4s ease; }
      @media (max-width: 800px) {
        .b-news .b-news-wrap .b-column .e-view-more {
          position: static; } }
    .b-news .b-news-wrap .b-column .e-blog-item {
      display: inline-block;
      padding: 15px 0;
      color: rgba(0, 0, 0, 0.5); }
      .b-news .b-news-wrap .b-column .e-blog-item h5 {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase; }
      .b-news .b-news-wrap .b-column .e-blog-item div {
        color: rgba(0, 0, 0, 0.5); }
      .b-news .b-news-wrap .b-column .e-blog-item + .e-blog-item {
        border-top: 1px solid rgba(0, 0, 0, 0.1); }

.b-started {
  background-color: rgba(0, 0, 0, 0.05); }
  .b-started .b-started-wrap {
    padding: 60px 0;
    text-align: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px; }
    .b-started .b-started-wrap::before {
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid white;
      margin: -60px auto 0;
      left: 0;
      right: 0;
      position: absolute; }
    .b-started .b-started-wrap h2 {
      margin: 0;
      font-size: 45px;
      font-weight: 300;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 800px) {
        .b-started .b-started-wrap h2 {
          font-size: 40px; } }
    .b-started .b-started-wrap h3 {
      margin: 0;
      padding: 10px 0 30px;
      font-size: 22px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
      color: rgba(0, 0, 0, 0.5); }
    .b-started .b-started-wrap .b-left {
      display: inline-block;
      width: 190px;
      height: 190px;
      vertical-align: middle; }
      @media (max-width: 800px) {
        .b-started .b-started-wrap .b-left {
          width: auto;
          display: block; } }
      .b-started .b-started-wrap .b-left .material-icons {
        font-size: 190px;
        color: rgba(0, 0, 0, 0.5); }
    .b-started .b-started-wrap .b-right {
      display: inline-block;
      width: 590px;
      margin-left: 100px;
      text-align: left;
      vertical-align: middle; }
      @media (max-width: 800px) {
        .b-started .b-started-wrap .b-right {
          width: auto;
          display: block;
          margin: 0 10px;
          text-align: center; } }
      .b-started .b-started-wrap .b-right p {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.5); }
        .b-started .b-started-wrap .b-right p strong {
          color: rgba(0, 0, 0, 0.6); }
      .b-started .b-started-wrap .b-right .e-view-more {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(0, 0, 0, 0.5); }
        .b-started .b-started-wrap .b-right .e-view-more span {
          display: inline-block;
          vertical-align: middle; }
        .b-started .b-started-wrap .b-right .e-view-more i {
          font-size: 21px;
          vertical-align: middle;
          color: rgba(0, 0, 0, 0.5);
          margin-left: 10px; }

.b-subscribe {
  text-align: center;
  background-color: #D4DD22; }
  .b-subscribe form {
    display: inline-block;
    width: 740px;
    padding: 15px 0; }
    @media (max-width: 800px) {
      .b-subscribe form {
        width: auto;
        display: block; } }
    .b-subscribe form .e-textfield {
      width: 640px;
      height: 35px;
      padding: 18px 20px 12px;
      border: 0;
      text-align: left;
      background-color: #E2E766;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.5) !important; }
      .b-subscribe form .e-textfield::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.5); }
      .b-subscribe form .e-textfield:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(0, 0, 0, 0.5); }
      .b-subscribe form .e-textfield::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(0, 0, 0, 0.5); }
      .b-subscribe form .e-textfield:-ms-input-placeholder {
        color: rgba(0, 0, 0, 0.5); }
      @media (max-width: 800px) {
        .b-subscribe form .e-textfield {
          width: calc(100% - 36px);
          margin-bottom: 5px; } }
      .b-subscribe form .e-textfield:focus {
        background-color: rgba(0, 0, 0, 0.1); }
    .b-subscribe form .e-submit {
      width: 99px;
      padding: 9px 20px 10px;
      margin-left: -3px;
      background-color: rgba(0, 0, 0, 0.1);
      border: 0;
      vertical-align: top;
      font-size: 16px;
      line-height: 1;
      color: rgba(0, 0, 0, 0.6);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer; }
      .b-subscribe form .e-submit:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      @media (max-width: 800px) {
        .b-subscribe form .e-submit {
          width: calc(100% - 36px);
          margin: 0; } }

/*# sourceMappingURL=styles.css.map */